<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="AdminLTE/dist/css/slothomepage.css">
</head>
<body>
    <div class="card-header">
        <h3 class="card-title"></h3>
        <img
          class="slotimg"
          src="AdminLTE/dist/img/slot.png"
          alt="Message User Image"
        />
        <a href="homepage.html">
          <img class="homeicon" src="AdminLTE/dist/img/homeicon.png" >
        </a>
        </div>
      </div>
</body>
</html>